﻿@model e_klass.Models.HomeViewModel
@{
    ViewBag.Title = "Manage Customer";
    //Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            Manage Customer
        </h4>
    </div>
    <div class="card-content">
        <div class="card-body card-dashboard">
            <div class="table-responsive">
                <table class="table table-striped dataex-html5-selectors">
                    <thead>
                        <tr>
                            <th>Local Reference</th>
                            <th>Commercial Reference</th>
                            <th>Party Type</th>
                            <th>Trader Id</th>
                            <th>Vat Id</th>
                            <th>Company Code</th>
                            <th>Name</th>
                            <th>Stree</th>
                            <th>Postal Code</th>
                            <th>City</th>
                            <th>Country Code</th>
                            <th>EDIT</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model.GetCustomerList)
                        {
                        <tr>
                            <td>@s.localReference</td>
                            <td>@s.commercialReference</td>
                            <td>@s.partyType</td>
                            <td>@s.traderID</td>
                            <td>@s.vatID</td>
                            <td>@s.companyCode</td>
                            <td>@s.name</td>
                            <td>@s.street</td>
                            <td>@s.postalCode</td>
                            <td>@s.city</td>
                            <td><a href="@Url.Action("EditCustomer", "Home", new {Id = s.PartiesId })" class="eidt_Customer"><i class="fa fa-pencil fa-lg"></i></a></td>
                            <td><a href="#CustomerModal" class="trigger-btn" data-toggle="modal" Customer_id="@s.PartiesId"><i class="fa fa-trash-o fa-lg" style="color:red;"></i></a></td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Local Reference</th>
                            <th>Commercial Reference</th>
                            <th>Party Type</th>
                            <th>Trader Id</th>
                            <th>Vat Id</th>
                            <th>Company Code</th>
                            <th>Name</th>
                            <th>Stree</th>
                            <th>Postal Code</th>
                            <th>City</th>
                            <th>Country Code</th>
                            <th>EDIT</th>
                            <th>DELETE</th>
</tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="CustomerModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                @*<div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>*@
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   var CustomerId;
    $('.trigger-btn').click(function () {
        CustomerId = $(this).attr("Customerid");
    });

    $('.btn-danger').click(function () {
       debugger;
        if (CustomerId != "") {

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteCustomer", "Home")',
                    data: { Id: CustomerId },
                    beforeSend: function () {
                        //$("#loadingScreen").css("display", "block");
                    },
                    success: function (data) {
                        if (data != null) {
                           // $('.deleteADTER').webuiPopover('hide');
                            //alert(JSON.stringify(data));
                            $('#CustomerModal').modal('hide');
                            $('.modal-backdrop.fade').hide();
                            //$("#CustomerModal").modal({
                            //    show: false
                            //});
                            $("#CustomerGrid").empty;
                            $("#CustomerGrid").html(data);

                            //$('#CustomerNameError').text("* CustomerName Already Exist");
                            //$("#Customername").val("");
                            //setTimeout(function () { $('#CustomerNameError').text(""); }, 5000);
                        }

                    },
                    error: function (res) {
                      //  AjaxFailure(res);
                    }
                });
            }
    });

    //$('.delete_Customer').click(function () {
    //    alert("oik");
    //$('.delete_Customer').confirmation('show')
        //$('#confirm-delete').show()
    //});

    //$('.delete_Customer').confirmation({

    //    onConfirm: function () {
    //        alert("Yes");
    //        // do something

    //    },

    //    onCancel: function () {
    //        alert("cancel");
    //        // do something

    //    }

    //});

    //$(function () {
    //    $('body').confirmation({
    //        selector: '[data-toggle="confirmation"]'
    //    });

    //    $('.confirmation-callback').confirmation({
    //        onConfirm: function (event, element) { alert('confirm') },
    //        onCancel: function (event, element) { alert('cancel') }
    //    });
    //});

    //$('[data-toggle=confirmation]').confirmation({
    //    rootSelector: '[data-toggle=confirmation]',
    //    onConfirm: function () {
    //        alert("2");
    //        $('[data-toggle=confirmation]').confirmation('hide');
    //    },
    //    popout: true
    //});

    //$("#bt1").click(function () {
    //    alert("77");
    //});


</script>