﻿@model e_klass.Models.HomeViewModel
@{
    ViewBag.Title = "Add Company";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}


<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-body">
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Company</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                @using (Ajax.BeginForm("SaveCompany", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onCompanySucess(data)", OnFailure = "AjaxFailure(xhr,status,error)" }, new { @id = "AddCompanyForm", @class = "class" }))
                                {
                                    <div class="form-body">
                                        <div class="row">
                                            @Html.HiddenFor(s => s.CompanyObj.CompanyId, new { @id = "Companyid", @class = "form-control" })
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.Name, new { @id = "Name", @class = "form-control", @placeholder = "Company", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.Name, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Company</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.CompanyCode, new { @id = "CompanyCode", @class = "form-control", @placeholder = "Compan yCode", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.CompanyCode, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Compan yCode</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.TraderID, new { @id = "TraderID", @class = "form-control", @placeholder = "Trader ID", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.TraderID, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Trader ID</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.Email, new { @id = "Email", @class = "form-control", @placeholder = "Email", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.Email, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Email</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.Phone, new { @id = "Phone", @class = "form-control", @placeholder = "Phone", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.Phone, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Phone</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextAreaFor(s => s.CompanyObj.Address, new { @id = "Address", @class = "form-control", @placeholder = "Address" })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.Address, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Address</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.City, new { @id = "City", @class = "form-control", @placeholder = "City", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.City, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">City</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.CountryCode, new { @id = "CountryCode", @class = "form-control", @placeholder = "Country Code", @maxlength = 2 })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.CountryCode, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Country Code</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CompanyObj.PostalCode, new { @id = "PostalCode", @class = "form-control", @placeholder = "Postal Code" })
                                                    @Html.ValidationMessageFor(s => s.CompanyObj.PostalCode, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Company" name="fname-column">*@
                                                    <label for="first-name-column">Postal Code</label>
                                                    <span id="CompanyError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Active</label><br />
                                                    @Html.CheckBoxFor(s => s.CompanyObj.PeachActive, new { @id = "PeachActive", @checked = true })
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div id="CompanyMessage" class="col-lg-12"></div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                                <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic Floating Label Form section end -->
        <section id="column-selectors">
            <div class="row">
                <div class="col-12" id="CompanyGrid">
                    @Html.Partial("_ManageCompany", Model)
                </div>
            </div>
        </section>

    </div>
</div>
<script type="text/javascript">
    function onCompanySucess(data) {
        //alert("ok");
        $('#AddCompanyForm').trigger('reset');
        $('#CompanyMessage').addClass("text-green");
        $('#CompanyMessage').text("Data Saved Successfully");
        setTimeout(function () { $('#CompanyMessage').text(""); }, 5000);
        $("#CompanyGrid").empty;
        $("#CompanyGrid").html(data);
    }

    $("#Company1").keyup(function () {
            debugger;
            if ($("#Company1").val() != "") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("IsCompanyNameExist", "School")',
                    data: { Name: $("#Company1").val() },
                    beforeSend: function () {
                        //$("#loadingScreen").css("display", "block");
                    },
                    success: function (data) {
                        if (data == true) {
                            $('#CompanyError').text("* Company Name Already Exist");
                            $("#Company1").val("");
                            setTimeout(function () { $('#CompanyError').text(""); }, 5000);
                        }

                    },
                    error: function (res) {
                      //  AjaxFailure(res);
                    }
                });
            }
        });
</script>