﻿@model e_klass.Models.HomeViewModel
@{
    ViewBag.Title = "Add Customer";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}


<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-body">
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Customer</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                @using (Ajax.BeginForm("SaveCustomer", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onCustomerSucess(data)", OnFailure = "AjaxFailure(xhr,status,error)" }, new { @id = "AddCustomerForm", @class = "class" }))
                                {
                                    <div class="form-body">
                                        <div class="row">
                                            @Html.HiddenFor(s => s.CustomerObj.PartiesId, new { @id = "Customerid", @class = "form-control" })
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CustomerObj.localReference, new { @id = "localReference", @class = "form-control", @placeholder = "Local Reference", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.localReference, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Local Reference</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CustomerObj.commercialReference, new { @id = "commercialReference", @class = "form-control", @placeholder = "Commercial Reference", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.commercialReference, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Commercial Reference</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.DropDownListFor(s => s.CustomerObj.partyType, new SelectList(Model.ddlPartiesList, "Value", "Text"), new { @id = "partyType", @class = "form-control" })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.partyType, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Party Type</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CustomerObj.traderID, new { @id = "traderID", @class = "form-control", @placeholder = "Trader Id", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.traderID, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Trader Id</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CustomerObj.vatID, new { @id = "vatID", @class = "form-control", @placeholder = "Vat Id", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.vatID, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Vat Id</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.CustomerObj.companyCode, new { @id = "companyCode", @class = "form-control", @placeholder = "Company Code", @required = true })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.companyCode, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Company Code</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextAreaFor(s => s.CustomerObj.name, new { @id = "Name", @class = "form-control", @placeholder = "Name" })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.name, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Name</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextAreaFor(s => s.CustomerObj.street, new { @id = "street", @class = "form-control", @placeholder = "Street" })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.street, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Street</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextAreaFor(s => s.CustomerObj.postalCode, new { @id = "postalCode", @class = "form-control", @placeholder = "Postal Code" })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.postalCode, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Postal Code</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextAreaFor(s => s.CustomerObj.city, new { @id = "city", @class = "form-control", @placeholder = "City" })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.city, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">City</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextAreaFor(s => s.CustomerObj.countryCode, new { @id = "countryCode", @class = "form-control", @placeholder = "Country Code" })
                                                    @Html.ValidationMessageFor(s => s.CustomerObj.countryCode, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@
                                                    <label for="first-name-column">Country Code</label>
                                                    <span id="CustomerError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>

                                            @*<div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>Active</label><br />
                                                        @Html.CheckBoxFor(s => s.CustomerObj.ChangePasswordAtNextLogin, new { @id = "PeachActive" })
                                                    </div>
                                                </div>*@
                                            <div class="col-md-12 col-sm-12">
                                                <div id="CustomerMessage" class="col-lg-12"></div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                                <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic Floating Label Form section end -->
        <section id="column-selectors">
            <div class="row">
                <div class="col-12" id="CustomerGrid">
                    @Html.Partial("_ManageCustomer", Model)
                </div>
            </div>
        </section>

    </div>
</div>
<script type="text/javascript">
    function onCustomerSucess(data) {
        //alert("ok");
        $('#AddCustomerForm').trigger('reset');
        $('#CustomerMessage').addClass("text-green");
        $('#CustomerMessage').text("Data Saved Successfully");
        setTimeout(function () { $('#CustomerMessage').text(""); }, 5000);
        $("#CustomerGrid").empty;
        $("#CustomerGrid").html(data);
    }

    $("#Customer1").keyup(function () {
            debugger;
            if ($("#Customer1").val() != "") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("IsCustomerNameExist", "School")',
                    data: { Name: $("#Customer1").val() },
                    beforeSend: function () {
                        //$("#loadingScreen").css("display", "block");
                    },
                    success: function (data) {
                        if (data == true) {
                            $('#CustomerError').text("* Customer Name Already Exist");
                            $("#Customer1").val("");
                            setTimeout(function () { $('#CustomerError').text(""); }, 5000);
                        }

                    },
                    error: function (res) {
                      //  AjaxFailure(res);
                    }
                });
            }
        });
</script>