﻿@model e_klass.Models.HomeViewModel
@{
    ViewBag.Title = "Add User";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}


<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-body">
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add User</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                @using (Ajax.BeginForm("SaveUser", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onUserSucess(data)", OnFailure = "AjaxFailure(xhr,status,error)" }, new { @id = "AddUserForm", @class = "class" }))
                                {
                                    <div class="form-body">
                                        <div class="row">
                                            @Html.HiddenFor(s => s.UserObj.Id, new { @id = "Userid", @class = "form-control" })
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.UserObj.clientCode, new { @id = "ClientCode", @class = "form-control", @placeholder = "Client Code", @required = true })
                                                    @Html.ValidationMessageFor(s => s.UserObj.clientCode, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="User" name="fname-column">*@
                                                    <label for="first-name-column">Client Code</label>
                                                    <span id="UserError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.UserObj.UserID, new { @id = "UserID", @class = "form-control", @placeholder = "User ID", @required = true })
                                                    @Html.ValidationMessageFor(s => s.UserObj.UserID, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="User" name="fname-column">*@
                                                    <label for="first-name-column">User Id</label>
                                                    <span id="UserError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.UserObj.Username, new { @id = "Username", @class = "form-control", @placeholder = "User Name", @required = true })
                                                    @Html.ValidationMessageFor(s => s.UserObj.Username, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="User" name="fname-column">*@
                                                    <label for="first-name-column">User Name</label>
                                                    <span id="UserError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.UserObj.Password, new { @id = "Password", @class = "form-control", @placeholder = "Password", @required = true })
                                                    @Html.ValidationMessageFor(s => s.UserObj.Password, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="User" name="fname-column">*@
                                                    <label for="first-name-column">Password</label>
                                                    <span id="UserError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextBoxFor(s => s.UserObj.Email, new { @id = "Email", @class = "form-control", @placeholder = "Email", @required = true })
                                                    @Html.ValidationMessageFor(s => s.UserObj.Email, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="User" name="fname-column">*@
                                                    <label for="first-name-column">Email</label>
                                                    <span id="UserError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-label-group">
                                                    @Html.TextAreaFor(s => s.UserObj.Remark, new { @id = "Remark", @class = "form-control", @placeholder = "Remark" })
                                                    @Html.ValidationMessageFor(s => s.UserObj.Remark, String.Empty, new { @class = "text-red" })
                                                    @*<input type="text" id="first-name-column" class="form-control" placeholder="User" name="fname-column">*@
                                                    <label for="first-name-column">Remark</label>
                                                    <span id="UserError" style="color:red; font-size:10px; font-weight:bold"></span>
                                                </div>
                                            </div>
                                            
                                            @*<div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Active</label><br />
                                                    @Html.CheckBoxFor(s => s.UserObj.ChangePasswordAtNextLogin, new { @id = "PeachActive" })
                                                </div>
                                            </div>*@
                                            <div class="col-md-12 col-sm-12">
                                                <div id="UserMessage" class="col-lg-12"></div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                                <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic Floating Label Form section end -->
        <section id="column-selectors">
            <div class="row">
                <div class="col-12" id="UserGrid">
                    @Html.Partial("_ManageUser", Model)
                </div>
            </div>
        </section>

    </div>
</div>
<script type="text/javascript">
    function onUserSucess(data) {
        //alert("ok");
        $('#AddUserForm').trigger('reset');
        $('#UserMessage').addClass("text-green");
        $('#UserMessage').text("Data Saved Successfully");
        setTimeout(function () { $('#UserMessage').text(""); }, 5000);
        $("#UserGrid").empty;
        $("#UserGrid").html(data);
    }

    $("#User1").keyup(function () {
            debugger;
            if ($("#User1").val() != "") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("IsUserNameExist", "School")',
                    data: { Name: $("#User1").val() },
                    beforeSend: function () {
                        //$("#loadingScreen").css("display", "block");
                    },
                    success: function (data) {
                        if (data == true) {
                            $('#UserError').text("* User Name Already Exist");
                            $("#User1").val("");
                            setTimeout(function () { $('#UserError').text(""); }, 5000);
                        }

                    },
                    error: function (res) {
                      //  AjaxFailure(res);
                    }
                });
            }
        });
</script>