﻿@model e_klass.Models.HomeViewModel
@{
    ViewBag.Title = "SuperAdminDashboard";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Dashboard Ecommerce Starts -->
        <section id="dashboard-ecommerce">

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-start pb-0">
                            <div>
                                <h2 class="text-bold-700"></h2>
                                <p class="mb-0">Total No. of Schools</p>
                            </div>
                            <div class="avatar bg-rgba-primary p-50">
                                <div class="avatar-content">
                                    <i class="feather icon-grid text-primary font-medium-5"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div id="line-area-chart-5"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-start pb-0">
                            <div>
                                <h2 class="text-bold-700"></h2>
                                <p class="mb-0">Total No. of Students</p>
                            </div>
                            <div class="avatar bg-rgba-success p-50">
                                <div class="avatar-content">
                                    <i class="feather icon-user-check text-success font-medium-5"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div id="line-area-chart-6"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-start pb-0">
                            <div>
                                <h2 class="text-bold-700"></h2>
                                <p class="mb-0">Total No. of Lecturers</p>
                            </div>
                            <div class="avatar bg-rgba-warning p-50">
                                <div class="avatar-content">
                                    <i class="feather icon-users text-warning font-medium-5"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div id="line-area-chart-7"></div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Recently  Added Schools</h4>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive mt-1">
                                <table class="table table-hover-animation mb-0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NAME OF SCHOOL</th>
                                            <th>ADDRESS</th>
                                            <th>STATE</th>
                                            <th>DATE REGISTERED</th>
                                            <th>EMAIL</th>
                                            <th>PHONE NO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var s in Model.GetSchoolList)
                                        {
                                            <tr>
                                                <td>@s.id</td>
                                                <td>@s.school_name</td>
                                                <td>@s.address</td>
                                                <td>Abia State</td>
                                                <td>@s.created_at.Value.ToShortDateString()</td>
                                                <td>@s.email</td>
                                                <td>@s.phone_no</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </section>
        <!-- Dashboard Ecommerce ends -->

    </div>
</div>
<div id="StudentModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                @*<div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>*@
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   var StudentId;
    $('.trigger-btn').click(function () {
        StudentId =  $(this).attr("Student_id");
    });

    $('.btn-danger').click(function () {
       debugger;
        if (StudentId != "") {

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteStudent", "School")',
                    data: { Id: StudentId },
                    beforeSend: function () {
                        //$("#loadingScreen").css("display", "block");
                    },
                    success: function (data) {
                        if (data != null) {
                           // $('.deleteADTER').webuiPopover('hide');
                            //alert(JSON.stringify(data));
                            $('#StudentModal').modal('hide');
                            $('.modal-backdrop.fade').hide();
                            $("#StudentGrid").empty;
                            $("#StudentGrid").html(data);

                        }

                    },
                    error: function (res) {
                      //  AjaxFailure(res);
                    }
                });
            }
    });


</script>

