﻿@model e_klass.Models.HomeViewModel
@{
    ViewBag.Title = "Login";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Login.cshtml";
}
<head>

</head>
<div class="content-body">
    <section class="row flexbox-container">
        <div class="col-xl-8 col-11 d-flex justify-content-center">
            <div class="card bg-authentication rounded-0 mb-0">
                <div class="row m-0">
                    <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
                        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                            <div class="img-container">
                                <a href="javascript: void(0);">
                                    <img src="~/app-assets/images/school/schlogo.png" class="rounded mr-75" alt="profile image" height="300" width="300" class="center">
                                </a>
                            </div>
                    </div>
                    <div class="col-lg-6 col-12 p-0">
                        <div class="card rounded-0 mb-0 px-2">
                            <div class="card-header pb-1">
                                <div class="card-title">
                                    <h4 class="mb-0">Login</h4>
                                </div>
                            </div>
                            <p class="px-2">Welcome back, please login to your account.</p>
                            <div class="card-content">
                                <div class="card-body pt-1">
                                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "loginForm", @class = "class" }))
    {
                                <fieldset class="form-label-group form-group position-relative has-icon-left">
                                    @*<input type="text" class="form-control" id="user-name" placeholder="Username" required>*@
                                    @Html.TextBoxFor(s => s.client.UserName, new { @id = "username", @class = "form-control", @placeholder = "Username", @required = true })
                                    @Html.ValidationMessageFor(s => s.client.UserName, String.Empty, new { @class = "text-red" })
                                    <div class="form-control-position">
                                        <i class="feather icon-user"></i>
                                    </div>
                                    <label for="user-name">Username</label>
                                </fieldset>

                                <fieldset class="form-label-group position-relative has-icon-left">
                                    @*  <input type="password" class="form-control" id="user-password" placeholder="Password" required>*@
                                    @Html.PasswordFor(s => s.client.Password, new { @id = "userpassword", @class = "form-control", @placeholder = "Password", @required = true })
                                    @Html.ValidationMessageFor(s => s.client.Password, String.Empty, new { @class = "text-red" })
                                    <div class="form-control-position">
                                        <i class="feather icon-lock"></i>
                                    </div>
                                    <label for="user-password">Password</label>
                                </fieldset>
                                <fieldset class="form-label-group position-relative has-icon-left">
                                    @*  <input type="password" class="form-control" id="user-password" placeholder="Password" required>*@
                                    @Html.DropDownListFor(s => s.client.Role, new SelectList(Model.ddlRoleList, "Value", "Text"), new { @id = "partyType", @class = "form-control", @required=true })
                                    @Html.ValidationMessageFor(s => s.client.Role, String.Empty, new { @class = "text-red" })
                                    <div class="form-control-position">
                                        <i class="feather icon-users"></i>
                                    </div>
                                    <label for="user-password">Role</label>
                                </fieldset>
                                <fieldset class="form-label-group position-relative has-icon-left">
                                    <div id="google_translate_element" style="display:none"></div>
                                    <select data-width="fit" onchange="translateLanguage(this.value);" class="form-control">
                                        <option data-content='<span class="flag-icon flag-icon-nl"></span> Dutch' value="Dutch">Dutch</option>
                                        <option data-content='<span class="flag-icon flag-icon-us"></span> English' value="English">English</option>
                                    </select>
                                    <div class="form-control-position">
                                        <i class="feather icon-layout"></i>
                                    </div>
                                    <label for="user-password">Language</label>
                                </fieldset>
                                <div class="form-group d-flex justify-content-between align-items-center">
                                    <div class="text-left">

                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Remember me</span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="text-right"><a href="auth-forgot-password.html" class="card-link">Forgot Password?</a></div>
                                </div>
                                <div style="color:red;">@Model.ErrorMessage</div>
                                @*<div>
                                    <div id="google_translate_element" style="display:none"></div>
                                    <select data-width="fit" onchange="translateLanguage(this.value);">
                                        <option data-content='<span class="flag-icon flag-icon-nl"></span> Dutch' value="Dutch">Dutch</option>
                                        <option data-content='<span class="flag-icon flag-icon-us"></span> English' value="English">English</option>
                                    </select>
                                </div>*@

                                @*<ul class="nav navbar-nav">
        <li class="dropdown dropdown-language nav-item">
            <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language">English</span></a>
            <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a><a class="dropdown-item" href="#" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a></div>
        </li>
    </ul>*@
                                <button type="submit" class="btn btn-primary float-right btn-inline">Login</button>
}
                                </div>
                            </div>
                            <div class="login-footer">
                                <div class="divider">
                                    <div class="divider-text"> </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
    }
    function translateLanguage(lang) {
         $.ajax({
            type: "POST",
            url: '@Url.Action("SetLanguageSession", "Home")',
            data: { language: lang },
            beforeSend: function () {
                //$("#loadingScreen").css("display", "block");
            },
             success: function (data) {            

            },
            error: function (res) {             
            }
         });
        debugger;
        googleTranslateElementInit();
        var $frame = $('.goog-te-menu-frame:first');
        if (!$frame.length) {
            alert("Error: Could not find Google translate frame.");
            return false;
        }
        $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
        return false;
    }
    //$(function () {
    //    $('.selectpicker').selectpicker();
    //});

</script>