﻿@model CustomsInstruction.Models.InstructionViewModel
@{
    ViewBag.Title = "Instruction";
}
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>

<body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic Vertical form layout section start -->
            <section id="basic-vertical-layouts">
                <div class="row match-height">
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" data-i18n="Instruction">Instruction</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">

                                    @using (Ajax.BeginForm("SaveInstruction", "Instruction", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onInstructionSucess(data)", OnFailure = "AjaxFailure(xhr,status,error)" }, new { @id = "AddCustomerForm", @class = "class" }))
                                    {

                                        <form class="form form-vertical">
                                            <div class="form-body">
                                                <div class="row">
                                                    @*@Html.HiddenFor(s => s.commercial.messageCode, new { @id = "materialNumber", @class = "form-control" })*@
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="first-name-icon">Process</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial.messageCode, new { @id = "messageCode", @class = "form-control", @placeholder = "Local Reference", @required = true })
                                                                @Html.ValidationMessageFor(s => s.commercial.messageCode, String.Empty, new { @class = "text-red" })
                                                                @*<input type="text" id="first-name-column" class="form-control" placeholder="Customer" name="fname-column">*@

                                                                <div class="form-control-position">
                                                                    <i class="feather icon-user"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Exporter</label>
                                                            @Html.DropDownListFor(s => s.partyObj.traderID, new SelectList(Model.ddlImp_Exp_Cons_List, "Value", "Text"), new { @id = "ExporterList", @class = "form-control" })
                                                            @Html.ValidationMessageFor(s => s.partyObj.traderID, String.Empty, new { @class = "text-red" })
                                                            @*<select class="select2 form-control" id="ExporterList">
                        <option value="square">Square</option>
                        <option value="rectangle">Rectangle</option>
                        <option value="rombo">Rombo</option>
                        <option value="romboid">Romboid</option>
                        <option value="trapeze">Trapeze</option>
                        <option value="traible">Triangle</option>
                        <option value="polygon">Polygon</option>
                    </select>*@
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="contact-info-icon">Consignee</label>
                                                            @Html.DropDownListFor(s => s.partyObj.traderID, new SelectList(Model.ddlImp_Exp_Cons_List, "Value", "Text"), new { @id = "ConsigneeList", @class = "form-control" })
                                                            @Html.ValidationMessageFor(s => s.partyObj.traderID, String.Empty, new { @class = "text-red" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Importer</label>
                                                            @Html.DropDownListFor(s => s.partyObj.traderID, new SelectList(Model.ddlImp_Exp_Cons_List, "Value", "Text"), new { @id = "ImporterList", @class = "form-control" })
                                                            @Html.ValidationMessageFor(s => s.partyObj.traderID, String.Empty, new { @class = "text-red" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="first-name-icon">Refernce/Shipment Number</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial.commercialReference, new { @id = "commercialReference", @class = "form-control", @placeholder = "Refernce/Shipment Number" })
                                                                @Html.ValidationMessageFor(s => s.commercial.commercialReference, String.Empty, new { @class = "text-red" })
                                                                @*<input type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="Refernce/Shipment Number">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-sort-numeric-asc"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Transport Company</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.partyObj.name, new { @id = "TransportCompany", @class = "form-control", @placeholder = "Transport Company" })
                                                                @Html.ValidationMessageFor(s => s.partyObj.name, String.Empty, new { @class = "text-red" })
                                                                @*    <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="Transport Company">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-train"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="contact-info-icon">Dispatch Country</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial.dispatchCountryCode, new { @id = "dispatchCountryCode", @class = "form-control", @placeholder = "Dispatch Country" })
                                                                @Html.ValidationMessageFor(s => s.commercial.dispatchCountryCode, String.Empty, new { @class = "text-red" })
                                                                @*<input type="number" id="contact-info-icon" class="form-control" name="contact-icon" placeholder="Dispatch Country">*@
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Destination Country</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial.destinationCountryCode, new { @id = "destinationCountryCode", @class = "form-control", @placeholder = "Destination Country" })
                                                                @Html.ValidationMessageFor(s => s.commercial.destinationCountryCode, String.Empty, new { @class = "text-red" })
                                                                @* <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Destination Country">*@
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="first-name-icon">Means of Trasnport</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial.transportMeansModeType, new { @id = "transportMeansModeType", @class = "form-control", @placeholder = "Means of Trasnport" })
                                                                @Html.ValidationMessageFor(s => s.commercial.transportMeansModeType, String.Empty, new { @class = "text-red" })
                                                                @*<input type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="Means of trasnport">*@
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-user"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="first-name-icon">License plate</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial.transportMeansIdentity, new { @id = "transportMeansIdentity", @class = "form-control", @placeholder = "License plate" })
                                                                @Html.ValidationMessageFor(s => s.commercial.transportMeansIdentity, String.Empty, new { @class = "text-red" })
                                                                @*<input type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="License plate">*@
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-user"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Export Date&time</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial_extraObj.value, new { @id = "Export Date&time", @class = "form-control", @placeholder = "Export Date&time" })
                                                                @Html.ValidationMessageFor(s => s.commercial_extraObj.value, String.Empty, new { @class = "text-red" })
                                                                @* <input type="datetime-local" id="email-id-icon" class="form-control" name="email-id-icon">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="contact-info-icon">Arrival Date&Time</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial_extraObj.value, new { @id = "ArrivalDateTime", @class = "form-control", @placeholder = "Arrival Date & Time" })
                                                                @Html.ValidationMessageFor(s => s.commercial_extraObj.value, String.Empty, new { @class = "text-red" })
                                                                @*<input type="datetime-local" id="contact-info-icon" class="form-control" name="contact-icon">*@
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">INCOTERM</label>
                                                            <div class="position-relative has-icon-left">
                                                                @*  <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="INCOTERM">*@
                                                                @Html.TextBoxFor(s => s.commercial.incotermCode, new { @id = "incotermCode", @class = "form-control", @placeholder = "INCOTERM" })
                                                                @Html.ValidationMessageFor(s => s.commercial.incotermCode, String.Empty, new { @class = "text-red" })
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Place</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial.incotermPlace, new { @id = "incotermPlace", @class = "form-control", @placeholder = "Place" })
                                                                @Html.ValidationMessageFor(s => s.commercial.incotermPlace, String.Empty, new { @class = "text-red" })
                                                                @* <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Place">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="first-name-icon">Place of entry/exit in GB</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial_extraObj.value, new { @id = "PlaceOfEntry", @class = "form-control", @placeholder = "Place of entry/exit in GB" })
                                                                @Html.ValidationMessageFor(s => s.commercial_extraObj.value, String.Empty, new { @class = "text-red" })
                                                                @* <input type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="Place of entry/exit in GB">*@
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">DEFRA inspection location (POD)</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.commercial_extraObj.value, new { @id = "DEFRA", @class = "form-control", @placeholder = "DEFRA inspection location (POD)" })
                                                                @Html.ValidationMessageFor(s => s.commercial_extraObj.value, String.Empty, new { @class = "text-red" })
                                                                @*  <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="DEFRA inspection location (POD)">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-location-arrow"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h5 style="font-weight:bold; color:red;">Description of Goods</h5>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">SKU #</label>
                                                            <div class="position-relative has-icon-left">
                                                                @*  <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="SKU#">*@
                                                                @Html.TextBoxFor(s => s.Item.materialNumber, new { @id = "materialNumber", @class = "form-control", @placeholder = "SKU  #" })
                                                                @Html.ValidationMessageFor(s => s.Item.materialNumber, String.Empty, new { @class = "text-red" })
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Marks and numbers</label>
                                                            <div class="position-relative has-icon-left">
                                                                @* <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Marks and numbers">*@
                                                                @Html.TextBoxFor(s => s.itemPackeagesObj.packagesMarks, new { @id = "packagesMarks", @class = "form-control", @placeholder = "Marks and numbers" })
                                                                @Html.ValidationMessageFor(s => s.itemPackeagesObj.packagesMarks, String.Empty, new { @class = "text-red" })
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="first-name-icon">Number of pieces</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.Item.quantity, new { @id = "quantity", @class = "form-control", @placeholder = "Number of Pieces" })
                                                                @Html.ValidationMessageFor(s => s.Item.quantity, String.Empty, new { @class = "text-red" })
                                                                @* <input type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="Number of pieces">*@
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Number of packages</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.itemPackeagesObj.packagesNumber, new { @id = "packagesNumber", @class = "form-control", @placeholder = "Packages Number" })
                                                                @Html.ValidationMessageFor(s => s.itemPackeagesObj.packagesNumber, String.Empty, new { @class = "text-red" })
                                                                @*  <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="Number of packages">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-location-arrow"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Package Type</label>
                                                            @Html.DropDownListFor(s => s.itemPackeagesObj.packageType, new SelectList(Model.PackageTypeList, "Value", "Text"), new { @id = "PlanPassport", @class = "form-control" })
                                                            @Html.ValidationMessageFor(s => s.itemPackeagesObj.packageType, String.Empty, new { @class = "text-red" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Description of goods</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextAreaFor(s => s.Item.goodsDescription, new { @id = "goodsDescription", @class = "form-control", @placeholder = "Goods Description" })
                                                                @Html.ValidationMessageFor(s => s.Item.goodsDescription, String.Empty, new { @class = "text-red" })
                                                                @*<input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Description of goods">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Plan Passport</label>
                                                            @Html.DropDownListFor(s => s.items_extra.value, new SelectList(Model.PlanPassportList, "Value", "Text"), new { @id = "PlanPassport", @class = "form-control" })
                                                            @Html.ValidationMessageFor(s => s.items_extra.value, String.Empty, new { @class = "text-red" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">HS code</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.Item.tariffNumber, new { @id = "tariffNumber", @class = "form-control", @placeholder = "HS Code" })
                                                                @Html.ValidationMessageFor(s => s.Item.tariffNumber, String.Empty, new { @class = "text-red" })
                                                                @*  <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="HS code">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-location-arrow"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Origin</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.Item.originCountryCode, new { @id = "originCountryCode", @class = "form-control", @placeholder = "Origin" })
                                                                @Html.ValidationMessageFor(s => s.Item.originCountryCode, String.Empty, new { @class = "text-red" })
                                                                @*   <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Origin">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Gross Weight</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.Item.grossWeight, new { @id = "grossWeight", @class = "form-control", @placeholder = "Gross Weight" })
                                                                @Html.ValidationMessageFor(s => s.Item.grossWeight, String.Empty, new { @class = "text-red" })
                                                                @*  <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Gross Weight">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Net Weight</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.Item.netWeight, new { @id = "netWeight", @class = "form-control", @placeholder = "Net Weight" })
                                                                @Html.ValidationMessageFor(s => s.Item.netWeight, String.Empty, new { @class = "text-red" })
                                                                @*   <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Net Weight">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Currency</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.Item.netPriceCurrency, new { @id = "netPriceCurrency", @class = "form-control", @placeholder = "Currency" })
                                                                @Html.ValidationMessageFor(s => s.Item.netPriceCurrency, String.Empty, new { @class = "text-red" })
                                                                @*   <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="Currency">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-location-arrow"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Inv Amount</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.Item.netPrice, new { @id = "netPrice", @class = "form-control", @placeholder = "Inv Amount" })
                                                                @Html.ValidationMessageFor(s => s.Item.netPrice, String.Empty, new { @class = "text-red" })
                                                                @*  <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Origin">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Phyto Cert</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.items_extra.value, new { @id = "PhytoCert", @class = "form-control", @placeholder = "Phyto Cert" })
                                                                @Html.ValidationMessageFor(s => s.items_extra.value, String.Empty, new { @class = "text-red" })
                                                                @*  <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Phyto Cert">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Commodity Group</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.items_extra.value, new { @id = "CommodityGroup", @class = "form-control", @placeholder = "Commodity Group" })
                                                                @Html.ValidationMessageFor(s => s.items_extra.value, String.Empty, new { @class = "text-red" })
                                                                @* <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Commodity Group">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="email-id-icon">Variety</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.items_extra.value, new { @id = "Variety", @class = "form-control", @placeholder = "Variety" })
                                                                @Html.ValidationMessageFor(s => s.items_extra.value, String.Empty, new { @class = "text-red" })
                                                                @*    <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="Variety">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-location-arrow"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="password-icon">Grower Nummer</label>
                                                            <div class="position-relative has-icon-left">
                                                                @Html.TextBoxFor(s => s.items_extra.value, new { @id = "GrowerNummer", @class = "form-control", @placeholder = "Grower Nummer" })
                                                                @Html.ValidationMessageFor(s => s.items_extra.value, String.Empty, new { @class = "text-red" })
                                                                @*    <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Grower Nummer">*@
                                                                <div class="form-control-position">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                                        <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic Vertical form layout section end -->
        </div>
    </div>
    @*File Upload Button*@
    @*<div class="row" style="margin-top:5%">
        <div class="col-md-4 form-group">
            <input type="file" id="file" class="form-control" />
        </div>
        <div class="col-md-2 form-group">
            <input type="button" id="btnUpload" value="Upload" class="btn btn-success" />
        </div>
    </div>*@
</body>
</html>
<script>
    $(document).on('click', '#btnUpload', function () {
        if (window.FormData !== undefined) {
            var fileUpload = $("#file").get(0);
            if ($("#file").get(0).files.length == 0) {
                toastr.error("Please upload the file");
                return;
            }
            //showLoader();
            var files = fileUpload.files;
            var fileData = new FormData();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            $.ajax({
                url: '/Instruction/SaveExcel',
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (result) {
                    //  hideLoader();
                    if (result != null)
                        toastr.success(result);
                    else
                        toastr.error("Something went wrong.Please contact administrator");
                },
                error: function (err) {
                    hideLoader();
                    toastr.error("Something went wrong.Please contact administrator");
                }
            });
        } else {
            toastr.error("FormData is not supported in the browser.");
        }
    });
</script>